body {
  background-image: linear-gradient(
    to right top,
    #328ea1,
    #3f6581,
    #3e3f54,
    #282028,
    #000000
  );
}

h1 {
  margin: 31px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232930;
  font-size: 9rem;
  color: #4ecca2;
  text-align: center;
}
h5 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 6px 0 #232932;
  font-size: 5rem;
  color: #4ecca2;
}
